$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1054px;
$breakpoint-xl: 1254px;

@mixin media-phone {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin media-desktop {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin media-large-desktop {
  @media (max-width: $breakpoint-xl) {
    @content;
  }
}

@mixin lighen($percentage: 0%) {
  filter: brightness(calc(100%) + $percentage);
}

@mixin darken($percentage: 0%) {
  filter: brightness(calc(100%) - $percentage);
}

@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    display: none !important;
  }

  &::-webkit-scrollbar-track {
    display: none !important;
  }

  &::-webkit-scrollbar-thumb {
    display: none !important;
  }
}

@mixin landscape {
  @media all and (max-width: $breakpoint-lg) and (orientation: landscape) {
    @content;
  }
}
