$primary-color: var(--primary-color);

$secondary-color: var(--secondary-color);

$background-default: var(--background-default-color);
$background-paper: var(--background-paper-color);

$text-primary: var(--text-primary-color);
$text-secondary: var(--text-secondary-color);

$font-family: 'Inter';
$border-radius: 8px;
$box-height: 48px;
